<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>carousel_types</key>
	<dict>
		<key>ZeeCarouselViewController</key>
		<dict>
			<key>carousel_clear</key>
			<string>ZLCarouselClear</string>
		</dict>
	</dict>
	<key>container_types</key>
	<dict>
		<key>CAContainerViewController</key>
		<dict/>
	</dict>
	<key>composite_types</key>
	<dict>
		<key>CACompositeViewController</key>
		<dict/>
	</dict>
	<key>section_composite_types</key>
	<dict>
		<key>ZeeHomeScreen.ZeeSectionCompositeViewController</key>
		<dict>
			<key>section_composite_standard</key>
			<string>CASectionCompositeStandard</string>
		</dict>
	</dict>
	<key>dropdown_sheet_types</key>
	<dict>
		<key>CADropSheetViewController</key>
		<dict/>
	</dict>
	<key>collection_types</key>
	<dict>
		<key>CACollectionViewController</key>
		<dict/>
	</dict>
	<key>section_picker_types</key>
	<dict>
		<key>CASectionPickerViewController</key>
		<dict/>
	</dict>
	<key>search_bar_types</key>
	<dict>
		<key>CASearchBarViewController</key>
		<dict/>
	</dict>
	<key>popover_types</key>
	<dict>
		<key>CAPopoverViewController</key>
		<dict/>
	</dict>
	<key>cell_types</key>
	<dict>
		<key>CAUserAccountCellViewController</key>
		<dict>
			<key>user_account</key>
			<string>CACellUserAccount</string>
		</dict>
		<key>CABannerCellViewController</key>
		<dict/>
		<key>CACellAtomEntryViewController</key>
		<dict/>
		<key>CACellViewController</key>
		<dict/>
		<key>CACellTitleViewController</key>
		<dict/>
		<key>CACellPromotionImageViewController</key>
		<dict/>
		<key>CAHTMLCellViewController</key>
		<dict/>
	</dict>
	<key>table_types</key>
	<dict>
		<key>CATableViewController</key>
		<dict/>
	</dict>
	<key>double_column_types</key>
	<dict>
		<key>ComponentsSDK.CADoubleColumnViewController</key>
		<dict/>
	</dict>
</dict>
</plist>
